/* Use a professional font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: #1b1a1a;
}

.image-background svg {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
  margin-top:2% !important;
  padding-bottom:5% !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 125px;
  background: transparent;
  z-index: 1000;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: transparent;
  margin: auto;
}

nav .navbar .logo a {
  font-size: 2.5em;
  text-decoration: none;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
  line-height: 80px;
  font-weight: bold;
  color: white;
  margin-left: 4rem;
}

nav .navbar .menu {
  display: flex;
  padding-right: 4rem;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
  line-height: 40px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar .menu li a:hover {
  color: #e3e3e3;
  background: #1b9bff;
  border-color: #000;
  border-radius: 8px;
}

.content {
  top:5%;
  position: absolute;
  min-width: 83%;
  margin: 8%;
  align-items: center;
}

section {
  min-height: 750px;
  margin-bottom: 8%;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 1280px) {
  nav .navbar .menu {
    display: none;
  }
  nav .navbar .logo a{
    font-size: 1.8rem;
  }
}
@media (max-width:884px) {
  nav .navbar .logo a{
    font-size: 1.6rem;
  }
}

@media (max-width:678px) {
  nav .navbar .logo a{
    font-size: 1.4rem;
  }
}

@media (max-width:428px) {
  nav .navbar .logo a{
    font-size: 1.2rem;
  }
}
@media (min-width: 1281px) {
  .hamburger-menu{
    display: none;
   }
}

